/*
 * This is the main selector of the meta box
 */
#gop-picker .handlediv {
    color: #fff;
}

#gop-picker h2 {
    background: #4c9ce0;
    color: #fff;
}

#gop-picker .inside select {
    width: 99%;
}
